* {
  margin: 0;
}
.lable {
  color: tomato;
  font-family: sans-serif;
  background: rgb(245, 199, 14);
  border-radius: 5px;
  padding: 5px 10px;
  position: relative;
  top: 10px;
  img {
    display: inline-block;
    vertical-align: middle;
    width: 50px
  }
  // &::after {
  //   content: '';
  //   width: 5px;
  //   height: 50px;
  //   background: rgb(245, 199, 14);
  //   position: absolute;
  //   left: 50%;
  //   top: 120%;
  //   border-radius: 5px;
  // } 
}
